<div class="height" style="height: 81px;"></div>
<div class="container">
    <div class="product-container">
        <div class="image-gallery">
            <div class="thumbnail-list">
                <div class="thumbnail-list-container">
                    <img src="img39.png" alt="Thumbnail 1">
                </div>
                <div class="thumbnail-list-container">
                    <img src="img40.png" alt="Thumbnail 2">
                </div>
                <div class="thumbnail-list-container">
                    <img src="img41.png" alt="Thumbnail 3">
                </div>
                <div class="thumbnail-list-container">
                    <img src="img42.png" alt="Thumbnail 4">
                </div>
            </div>
            <div class="main-image">
                <img src="img38.png" alt="Gamepad">
            </div>
        </div>
        <div class="product-details flex">
            <h1 class="product-title">Havic HV G-92 Gamepad</h1>
            <div class="rating">
                <span class="stars">★★★★☆</span>
                <span class="reviews">(304 reviews)</span>
                <span class="stock">| In Stock</span>
            </div>
            <p class="price">$192.00</p>
            <p class="description">PlayStation 5 Controller Skin High quality vinyl with air channel adhesive for easy bubble-free install & mess-free removal. Pressure sensitive.</p>
            <div class="options">
                <div class="size-button flex">
                    <label>Size:</label>
                    <div class="size-button-category">
                        <button>XS</button>
                        <button>S</button>
                        <button class="active">M</button>
                        <button>L</button>
                        <button>XL</button>
                    </div>
                </div>
                
            </div>
            <div class="purchase-section">
                <div class="quantity-container flex">
                    <button class="quantity-btn">-</button>
                    <span class="quantity">2</span>
                    <button class="quantity-btn">+</button>
                </div>
                <button class="buy-now">Buy Now</button>
                <button class="wishlist"><i class="fa-regular fa-heart"></i></button>
            </div>
        </div>
    </div>
</div>
