/* Wishlist Container */
.wishlist-container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
}

/* Title and Move All Button */
.wishlist-title {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.move-all-btn {
    float: right;
    padding: 10px 20px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    transition: all 0.3s;
}

.move-all-btn:hover {
    background: black;
    color: white;
}


/* Wishlist Button */
.wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.wishlist i {
    font-size: 20px;
    transition: color 0.3s;
}

/* Wishlist Active State */
.wishlist-active {
    color: red !important;
}

.product-card-container{
    gap: 26px;
    flex-wrap: wrap;
}
.remove-product{
    display: flex;
    height: 34px;
    width: 34px;
    align-items: center;
    justify-content: center; 
    position: absolute;
    top: 5%;
    right: 5%; 
    padding: 5px 4px;
    background-color: white;
    border-radius: 100%;
}