
.hero-section-container {
  justify-content: center;
  gap: 45px;
  margin-bottom: 140px;
}
.hero-section-categories {
  flex-direction: column;
  align-items: left;
  border-right: 0.5px solid rgb(0, 0, 0, 0.3);
  gap: 16px;
}
.first-item {
  padding-top: 40px;
}
.hero-section-category {
  width: 100%;
  justify-content: space-between;
  gap: 51px;
  padding-right: 16px;
  cursor: pointer;
}
.hero-section-category i {
  color: white;
  transition: color 0.5 ease;
}
.hero-section-category:hover a,
.hero-section-category:hover i {
  color: black;
}

.banner-container {
  position: relative;
  width: 100%;
  max-width: 892px;
  overflow: hidden;
  
}

.banner {
  height: 344px;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  transition: background-image 0.5s ease;
  margin-top: 40px;
}

.banner-content {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.filtered-hero-products{
  margin-inline: 135px;
  margin-bottom: 60px;
}
.banner-content h1 {
  max-width: 294px;
  font-size: 48px;
  font-weight: 600;
  line-height: 68px;
}

.banner-content a {
  color: white;
}

.btn {
  margin-top: 10px;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots span {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.dots span.active {
  opacity: 1;
}

.about-services-container {
  justify-content: center;
  gap: 88px;
  margin: 140px 0px;
  padding-inline: 70px;
  flex-wrap: wrap;
}
.about-service {
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.about-service h2 {
  margin-bottom: 8px;
}
.about-service-content {
  text-align: center;
}


.product-categories-container{
  padding: 80px 0 70px 0;
  margin-inline: 135px;
  border-top:0.5px solid rgb(0, 0, 0, 0.3);
  border-bottom:0.5px solid rgb(0, 0, 0, 0.3) ;
}
.product-categories-header{
  justify-content: space-between;
  margin-bottom: 60px;
}
.product-categories-header-content {
  flex-direction: column; 
  align-items: flex-start;
  gap: 20px;
}

.product-categories{
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap; 
}
.product-type{
  min-width: 170px;
  height: 145px;
  flex-direction: column;
  border: 0.5px solid rgb(0, 0, 0, 0.3);
  justify-content: center;
  border-radius: 4px;
  
}
.product-type i{
  font-size: 43px;
  padding-bottom: 16px;
}

.product-type:hover{
  background-color: #DB4444;
  color: white;
}

.products-section{
  padding: 80px 0 70px 0;
  margin-inline: 135px;
}

.products-header{
  flex-direction: column;
  align-items: flex-start;
  gap:20px;
}
.header-container{
  justify-content: space-between;
}
.wishlist{
  display: flex;
  height: 34px;
  width: 34px;
  align-items: center;
  justify-content: center; 
  position: absolute;
  top: 5%;
  right: 5%; 
  padding: 5px 4px;
  background-color: white;
  border-radius: 100%;
}


.product-details{
  display: flex;
  height: 34px;
  width: 34px;
  padding-top: 5px;
  align-items: center;
  justify-content: center; 
  position: absolute;
  top: 23%;
  right: 5%;
  
  background-color: white;
  border-radius: 100%;
}
.header-button button{
  padding: 16px;
  border-radius: 100%;
  border: none;
  margin: 4px;
}